.shopping-cart {
  width: 900px;
  /*750px;*/
  height: auto;
  /*423px;*/
  margin: 80px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.itemcontainer {
  display: block;
  border-bottom: 1px solid #E1E8EE;
}
@import "../../node_modules/jquery-ui/themes/base/menu";
@import "../../node_modules/jquery-ui/themes/base/autocomplete";
